 
{% comment %} {% extends 'accountapp/base.html' %} {% endcomment %}

{% include "./include/header-base-loader.html" with pagecsspath="accountapp/pass-reset.css" %}


{% block content %}

<main class="pass-reset">
    <h2>Reset password!</h2>
    <P>Forget your password ? enter email, instructions are send to your email! to reset passord...</P>
    <form action="" method="POST">
        {% csrf_token %}
        {{password_reset_form}}
        <button type="submit">reset password</button>
    </form>
</main>

{% endblock  %}
