{% extends "accountapp/base.html" %}
{% load static %}

{% block pagespecificstyles %}
{% static 'accountapp/pass-reset-confirm.css' %}
{% endblock %}


{% block content %}
 
<main class="pass-reset-confirm">

    <h1>[ Lockr ] <img src="{% static "accountapp/images/padlock.png"  %}" alt="logo icon" class="logo-icon"></h1>
     
            <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
            <hr>
            <p>Please enter your new password.</p>
            <form method="POST">
                {% csrf_token %}
                {{ form }}                    
                <button class="btn btn-primary" type="submit">Reset password</button>
            </form>
</main>

{% endblock %}