

.pass-reset-confirm h1{
    text-align: center;
    font-size: 3em;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Century Gothic';
    font-weight: bold;
    text-shadow: 2px 2px white;
    /* text-decoration: underline; */
    /* border: 5px solid rgb(10, 10, 10); */
    width: fit-content;
    padding: 2px 50px;
    /* box-shadow: 2px 2px white; */
    margin: 0.6em auto;
    position: relative;
}

.pass-reset-confirm .logo-icon{
    height: 0.7em;
    width: 0.7em;
    transform: rotate(-50deg);
    color: black;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 79%;
    top:72%;
    color: red;
}

.pass-reset-confirm {
    margin: 1em 3em;
}


.pass-reset-confirm h2{
    text-align: center;
}

.pass-reset-confirm form,h2,p{
    /* padding-left: 17%; */
    width: 40%;
    margin: 1em auto;
}

.pass-reset-confirm form{
    margin-top: 1em;
}

.pass-reset-confirm form button{
    background-color: rgb(0, 213, 117);
    border: none;
    padding: 2.5px 6px;
    color: rgb(0, 0, 0);
}

.pass-reset-confirm form button:hover{
    cursor: pointer;
}