.savepassword form{
    display: flex;
    flex-direction: column;
    width: 27%;
    margin: 3em auto;
    border: 2px solid rgb(8, 163, 93);
    border-radius: 5px;
    padding: 2em 2em;
    background-color: rgb(206, 247, 206);
}

.savepassword h3{
    margin: 1em 0;
    padding: 0;
    text-align: center;
}

.savepassword form button{
    border: none;
    padding: 0.5em 1em;
    margin: 1em auto;
    width: 15em;
    color: white;
    background-color: rgb(8, 163, 93);
}

.savepassword button:focus, input:focus{
    outline: none;
    
}

.savepassword input{
    margin-bottom:0.5em ;
    /* border-radius: 5px; */
    padding: 0.2em 0.2em;
}